<html lang='es'>
  <head>
    <title>Página principal</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'
      integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <script
      src='https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js'
    ></script>
  </head>

  <body>
    <main>
      <div class='container mt-2'>
        <h1 class='alert alert-info'>
          Bienvenido/a,
          {{this.email}}
          <button
            class='btn btn-logout float-right mt-2'
            onclick="location.href='/logout'"
          >
            Cerrar sesión
          </button>
        </h1>
      </div>
    </main>
    <!-- En esta sección se encuentra el formulario de ingreso de productos y la vista de estos -->
    <section id='insert-and-read'>
      <div class='container mt-2'>
        <div class='jumbotron'>
          <h1>Ingresar un producto</h1>
          <br />
          <hr>

          <!-- Acá se inserta la lista de productos en caso de que existan -->
          <div id='product-list'></div>
        </div>
      </div>
    </section>

    <!-- En esta sección se encuentra el formulario de ingreso de mensajes y la vista de estos -->
    <section id='message-center'>
      <div class='container mt-2'>
        <div class='jumbotron'>
          <h1>Centro de Mensajes</h1>
          <br />

            <hr />
            <!-- Acá se inserta la lista de mensajes en caso de que existan -->
            <div id='message-list'></div>
            <hr />

        </div>
      </div>
    </section>

    <footer>
      <p class='text-center text-muted'>© Copyright 2023 Axel Fuzzi</p>
    </footer>

    <!-- JS bootstrap -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js'
      integrity='sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK'
      crossorigin='anonymous'
    ></script>

    <!--- AXIOS --->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Handlebars -->
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js'
      integrity='sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>

    <!-- JS to use socketIO inside of index.js -->
    <script src='./socket.io/socket.io.js'></script>

    <!-- JS client -->
    <script src='./js/client.js'></script>
  </body>
</html>